/*
	html elements
*/

body {
	font-family:monospace;
	color: #1f1f1f;
	background-color: #F2F2F2;
	}
h1 {
	
	}

/*
	elements
*/

#container {
	margin:0 auto;
	width:960px;
	}
#mastHead {
	height:55px;
	}
/*
	content
*/	
#content {
	float: left;
	width:80%;
	}
/*
	side
*/
#side {
	float: left;
	width:20%;
}

/*
	footer
*/	

#footer {
	
	}