/*
	html elements
*/

body {
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", sans-serif;
	text-align:center;
	color: #8B8B8B;
	background-color: #1f1f1f;
	}
h1 {
	margin:0;
	font-family:monospace;
	}

/*
	elements
*/

#container {
	margin:0 auto;
	width:960px;
	}
#mastHead {
	height:55px;
	}
/*
	content
*/	
#content {
	
	}
#video_container {
	background-color: #ccc;
	padding:20px;
	}
#video {
	background-color:#161616;
	border:1px solid #666;
	height:365px;		
	}
div.info, #video {
	margin:0 auto;
	width:632px;
	}
div.info p {
	text-align:left;
	}
/*
	footer
*/	

#footer {
	
	}